<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN" "http://www.springframework.org/dtd/spring-beans-2.0.dtd">
<!--
	/**************************************************************************\
	*
	* Copyright 2007 the original author or authors.
	*
	* Licensed under the Apache License, Version 2.0 (the "License");
	* you may not use this file except in compliance with the License.
	* You may obtain a copy of the License at
	*
	*      http://www.apache.org/licenses/LICENSE-2.0
	*
	* Unless required by applicable law or agreed to in writing, software
	* distributed under the License is distributed on an "AS IS" BASIS,
	* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
	* See the License for the specific language governing permissions and
	* limitations under the License.
	*
	\**************************************************************************/
	
	/***************************************************************************
	*
	* Project:      Spring Framework
	*
	* Module:       JUnit 4 - Testing Support
	*
	* File:         $Source: /var/local/springframework.cvs.sourceforge.net/spring/tiger/test/org/springframework/test/junit4/SpringJUnit4ClassRunnerAppCtxTests-context.xml,v $
	*
	* Description:  Simple application context for testing DI support for tests.
	*
	* Author:       Sam Brannen
	*
	****************************************************************************
	*
	* Revision History:
	*
	* Modified By: $Author: sbrannen $
	*
	* Modified On: $Date: 2007-08-06 13:26:33 $
	*
	\**************************************************************************/
-->
<beans>

	<!-- =================================================================== -->
	<!-- === POJOs ========================================================= -->
	<!-- =================================================================== -->

	<bean id="employee" class="org.springframework.beans.Employee">
		<property name="name" value="John Smith" />
		<property name="age" value="42" />
		<property name="company" value="Acme Widgets, Inc." />
	</bean>

	<bean id="pet" class="org.springframework.beans.Pet">
		<constructor-arg value="Fido" />
	</bean>

	<!-- =================================================================== -->
	<!-- === SERVICES ====================================================== -->
	<!-- =================================================================== -->

	<!-- =================================================================== -->
	<!-- =================================================================== -->

</beans>
