<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
	<bean id="jmxAdapter" class="org.springframework.jmx.JmxMBeanAdapter">
		<property name="beans">
			<map>
				<entry key="bean:name=testBean1">
					<ref local="testBean"/>
				</entry>
			</map>
		</property>
	</bean>
	
	<bean id="jmxAdapter2" class="org.springframework.jmx.JmxMBeanAdapter">
	    <property name="beans">
			<map>
				<entry key="bean:name=testBean2">
					<ref local="testBean"/>
				</entry>
			</map>
		</property>    
		<property name="invoker">
	        <ref local="cglibInvoker"/>
	    </property>    
	</bean>
	
	<bean id="jmxAdapter3" class="org.springframework.jmx.JmxMBeanAdapter">
	    <property name="beans">
			<map>
				<entry key="namingTest">
					<ref local="testBean"/>
				</entry>
			</map>
		</property>    
		<property name="namingStrategy">
	        <ref local="propertiesNamingStrategy"/>
	    </property>    
	</bean>
	
	<bean id="jmxAdapter4" class="org.springframework.jmx.JmxMBeanAdapter">
	    <property name="beans">
			<map>
				<entry key="namingTest">
					<ref local="testBean"/>
				</entry>
			</map>
		</property>    
		<property name="namingStrategy">
	        <ref local="identityNamingStrategy"/>
	    </property>    
	</bean>
	
	<bean id="jmxAdapter5" class="org.springframework.jmx.JmxMBeanAdapter">
	    <property name="beans">
			<map>
				<entry key="bean:name=testBean3">
					<ref local="testBean"/>
				</entry>
			</map>
		</property>    
		<property name="assembler">
	        <ref local="metadataAssembler"/>
	    </property>    
	</bean>
	
	<bean id="jmxAdapter6" class="org.springframework.jmx.JmxMBeanAdapter">
	    <property name="beans">
			<map>
				<entry key="namingTest">
					<ref local="testBean"/>
				</entry>
			</map>
		</property>    
		<property name="namingStrategy">
	        <ref local="metadataNamingStrategy"/>
	    </property>    
	</bean>
	
	<bean id="testBean" class="org.springframework.jmx.JmxTestBean">
		<property name="name">
			<value>TEST</value>
		</property>
		<property name="age">
			<value>100</value>
		</property>
	</bean>
		
	<bean id="propertiesNamingStrategy" class="org.springframework.jmx.naming.PropertiesNamingStrategy">
		<property name="propertiesFile">
			<value>./sandbox/test/org/springframework/jmx/jmx.names</value>
		</property>
	</bean>
	
	<bean id="identityNamingStrategy" class="org.springframework.jmx.naming.IdentityNamingStrategy">
	</bean>
	
	<bean id="cglibInvoker" class="org.springframework.jmx.invokers.cglib.CglibMBeanInvoker"></bean>
	
	<bean id="metadataNamingStrategy" class="org.springframework.jmx.naming.MetadataNamingStrategy">
	</bean>
	
	<bean id="metadataAssembler" class="org.springframework.jmx.assemblers.metadata.MetadataModelMBeanInfoAssembler">
	
	</bean>

</beans>