<chapter id="context">

    <title>The Context Package</title>
    
    <sect1 id="context-introduction">
    	<title>Introduction</title>
	    
	    <para>
	    	On top of the beans package, providing basic functionality for managing and
	    	manipulating beans, sits the <literal>context</literal> package. The context
	    	package acts as a registry of objects needed by your application. The functionality
	    	it offers somewhat resembles the <emphasis>enterprise naming context</emphasis>
	    	J2EE application servers feature, however there are some key differences. For instance,
	    	objects bound in a Spring application context (<literal>ApplicationContext</literal>) don't
	    	need to extend something like a remote interface or object. Second of all, application contexts
	    	can be used throughout the complete range of layers of your applications, from within
	    	Swing clients, webapplications, but also in Enterprise JavaBeans.
	    </para>
	    <para>
	    	The basis for the context package is the <literal>org.springframework.context.ApplicationContext</literal>
	    	interface, providing functionality for internationalization, eventhandling and beans being aware
	    	of the context they're existing in. Also it's possible to create a hierachical structure of
	    	contexts, enabling beans to be scoped for and only accessible to a certain part of an application.
	    </para>
	</sect1>
	
	<sect1 id="context-beans">
		<title>The ApplicationContext managing beans</title>
		
		<para>
			The ApplicationContext includes all the functionality the bean factory has as well. This means
			you can define beans using the XmlBeanFactory and look up bean by specifying their name or id.
			All features the BeanFactory offers are available to you, including the the lifecycle interfaces,
			the initialization and destruction methods, dependency checking and autowiring. The BeanFactory
			will not be discussed in this chapter, instead the ApplicationContext specific features will
			be described here. In the previous chapter, there's more information on the specifics of the
			<literal>BeanFactory</literal>.
		</para>
		
	</sect1>
	
	<sect1 id="context-basics">
		<title>ApplicationContext basics</title>
		<para>
			The ApplicationContext, provides - as described above
		</para>
	</sect1>
			
    
    
</chapter>


